@model IEnumerable<PenBook.Models.Domain.Genre>
@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Genre/Add">Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Genres</h3>
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a  type="submit"  asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                               <a onclick="return window.confirm('Are you sure?')"asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                <a  asp-action="Details" asp-route-id="@item.Id">Details </a>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
        </div>
    </div>
</div>